.cards {
    display: grid;
    margin: 4% 0 7% 0;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15%;
    column-gap: 2%;
    row-gap: 3%;
}

@media screen and (max-width: 425px) {
    .cards {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 1%;
    }
}