.popup {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 320px) {
    .popup {
        width: 97%;
    }
}