.profile__add-btn {
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    padding: 5% 30%;
    display: block;
    grid-area: add-btn;
    position: relative;
    margin: 0 0 0 25%;
    background-color: transparent;
}
.profile__add-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media screen and (max-width: 320px) {
    .profile__add-btn {
        margin: 0;
        padding: 1vh 40vw;
    }
}