.header__line {
    border-top: 1px solid #545454;
    opacity: 0.7;
    width: 100%;
    display: block;
    margin: 0;
}
@media screen and (max-width: 320px) {
    .header__line {
        width: 100%;
    }
}