.profile__info_group {
    display: flex;
    position: relative;
    width: 77%;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 0 0 0;
}
@media screen and (max-width: 425px) {
    .profile__info_group {
        width: 220px;
        justify-items: center;
        justify-content: center;
    }
}