.profile__info_group {
    display: flex;
    position: relative;
    width: 77%;
    align-items: baseline;
    flex-direction: row-reverse;
    margin: 0 0 0 0;
}
@media only screen and (max-width: 320px) {
    .profile__info_group {
        width: 70%;
        justify-items: center;
        justify-content: center;
    }
}