.header__logo {
    padding: 3.5% 57% 3% 0%;
    display: block;
    width: 13.5%;
    border-bottom: 1px solid #545454;
}
@media screen and (max-width: 320px) {
    .header__logo {
        width: 39%;
        position: relative;
        padding: 7% 55% 8% 6%;
    }
}