.profile__info_name {
    color: white;
    font-weight: 500;
    font-size: 262.5%;
    line-height: 1.14;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
@media screen and (max-width: 767px) {
    .profile__info_name {
        font-size: 137.5%;
    }
}