.profile__info_edit-btn {
    margin: 2% 0 0 0;
    padding: 65.5%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    position: relative;
    /* width: 5.5%; */
    /* display: flex; */
    /* align-items: center; */
}
.profile__info_edit-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media screen and (max-width: 767px) {
    .profile__info_edit-btn {
        width: 65%;
        margin: 0;
        padding: 35%;
    }
}