.profile__info_job {
    color: white;
    font-weight: 400;
    font-size: 112.50%;
    line-height: 1.14;
    margin: 2% 0 0 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
@media screen and (max-width: 425px) {
    .profile__info_job {
        font-size: 87.5%;
        text-align: center;
    }
}