.popup__close-icon {
    position: absolute;
    top: -13%;
    right: 10%;
    z-index: 2;
    background-color: transparent;
    border: none;
}
.popup__close-icon:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media screen and (max-width: 425px) {
    .popup__close-icon {
        width: 7%;
    }
}