.popup__form-header {
    font-weight: 900;
    font-size: 150%;
    line-height: 1.2;
    position: relative;
    margin: 9% 0 6% 8.5%;
}
@media screen and (max-width: 425px) {
    .popup__form-header {
        margin: 8% 0 23% 8%;
    }
}