.footer__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 112.5%;
    line-height: 1.2;
    color: #545454;
    margin: 0 53% 5% 0;
}

@media screen and (max-width: 425px) {
    .footer__paragraph {
        font-size: 87.5%;
        margin: 0 46% 5% 0;
    }
}