.profile__avatar {
    border-radius: 50%;
    width: 75%;
    position: relative;
    grid-area: avatar;
    margin: 0;
    display: block;
}
@media screen and (max-width: 425px) {
    .profile__avatar {
        width: 120px;
    }
}