.popup__popup-form {
    position: relative;
    width: 64%;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}
@media screen and (max-width: 425px) {
    .popup__popup-form {
        width: 88%;
    }
}