@import url(../font/inter.css);

.root {
    background-color: black;
    max-width: 1280px;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: 0;
    position: relative;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__container {
    width: 69%;
    display: block;
    position: relative;
}
@media only screen and (max-width: 320px) {
    .header__container {
        width: 100%;
    }
}

.header__logo {
    padding: 7% 0% 5% 0%;
    display: block;
}
@media only screen and (max-width: 320px) {
    .header__logo {
        width: 126px;
        position: relative;
        margin: 0 0 3% 10%;
    }
}

.header__line {
    border-top: 1px solid #545454;
    opacity: 0.7;
    width: 100%;
    display: block;
    margin: 0;
}
@media only screen and (max-width: 320px) {
    .header__line {
        width: 100%;
    }
}

/* Profile */
.profile {
    display: flex;
    margin: 2.5% 0;
    justify-content: center;
}
@media only screen and (max-width: 320px) {
    .profile {
        position: relative;
    }
}

.profile__container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas:
        'avatar info add-btn';
    position: relative;
    width: 69%;
    margin: 0;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 320px) {
    .profile__container {
        grid-template-columns: 1fr;
        grid-template-rows: 44% 30% 20%;
        grid-template-areas:
            'avatar'
            'info'
            'add-btn';
        width: 100%;
        justify-items: center;
        height: 320px;
    }
}

.profile__avatar {
    border-radius: 50%;
    width: 75%;
    position: relative;
    grid-area: avatar;
    margin: 0;
    display: block;
}
@media only screen and (max-width: 320px) {
    .profile__avatar {
        width: 40%;
    }
}

.profile__info {
    display: flex;
    flex-direction: column;
    width: 103%;
    margin: 0 0 0 0;
}
@media only screen and (max-width: 320px) {
    .profile__info {
        align-items: center;
    }
}

.profile__info_group {
    display: flex;
    position: relative;
    width: 77%;
    align-items: baseline;
    flex-direction: row-reverse;
    margin: 0 0 0 0;
}
@media only screen and (max-width: 320px) {
    .profile__info_group {
        width: 70%;
        justify-items: center;
        justify-content: center;
    }
}

.profile__info_edit-btn {
    margin: 0;
    padding: 1.1%;
    border: 1px solid #FFFFFF;
    background-color: black;
    position: relative;
    width: 3.5%;
    display: block;
}
.profile__info_edit-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media only screen and (max-width: 320px) {
    .profile__info_edit-btn {
        width: 4%;
        margin: 0;
        padding: 2%;
    }
}

.profile__info_name {
    color: white;
    font-weight: 500;
    font-size: 262.5%;
    line-height: 1.14;
    margin: 0;
    display: block;
}
@media only screen and (max-width: 320px) {
    .profile__info_name {
        font-size: 137.5%;
    }
}

.profile__info_job {
    color: white;
    font-weight: 400;
    font-size: 112.50%;
    line-height: 1.14;
    margin: 2% 0 0 0;
    display: block;
}
@media only screen and (max-width: 320px) {
    .profile__info_job {
        font-size: 87.5%;
        text-align: center;
    }
}

.profile__add-btn {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 5% 30%;
    display: block;
    grid-area: add-btn;
    position: relative;
    margin: 0 0 0 25%;
}
.profile__add-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media only screen and (max-width: 320px) {
    .profile__add-btn {
        margin: 0;
        padding: 5% 40%;
    }
}

/* Cards */
.cards {
    display: flex;
    margin: 4% 0 7% 0;
    flex-direction: column;
    align-items: center;
}

.cards__container-up {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    width: 69%;
    justify-items: center;
    grid-gap: 2%;
    margin: 0 0 1.5% 0;
}
@media only screen and (max-width: 320px) {
    .cards__container-up {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        width: 90%;
        margin: 0 0 5% 0;
    }
}

.cards__container-down {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    width: 69%;
    justify-items: center;
    grid-gap: 2%;
    margin: 0;
}
@media only screen and (max-width: 320px) {
    .cards__container-down {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        width: 90%;
        margin: 15% 0 0 0;
    }
}

.cards__card-item {

}

.cards__rectangle {
    border-radius: 10px;
    width: 100%;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-rows: 78% 22%;
    align-items: center;
}

.cards__image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    position: relative;
}

.cards__container {
    display: grid;
    grid-template-columns: 7% 80% 7% 6%;
    grid-template-areas:
        '. paragraph heart .';
    margin: 0;
    align-items: center;
}

.cards__paragraph {
    font-weight: 900;
    font-size: 150%;
    line-height: 1.2;
    color: black;
    grid-area: paragraph;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cards__heart {
    color: black;
    grid-area: heart;
}
.cards__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 320px) {
    .footer {
        padding: 30% 0 6% 6%;
    }
}

.footer__container {
    width: 69%;
}
@media only screen and (max-width: 320px) {
    .footer__container {
        width: 100%;
    }
}

.footer__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 112.5%;
    line-height: 1.2;
    color: #545454;
    margin: 0 0 5% 0;
}

/* Pop-Up */
.popup {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.popup_opened {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
@media only screen and (max-width: 320px) {
    .popup__container {
        width: 100%;
    }
}

.popup__close-icon {
    position: relative;
    margin: 0 0 1% 76%;
    z-index: 2;
}
.popup__close-icon:hover {
    cursor: pointer;
    opacity: 0.6;
}
@media only screen and (max-width: 320px) {
    .popup__close-icon {
        width: 7%;
        margin: 0 0 6% 75%;
    }
}

.popup__popup-form {
    position: relative;
    width: 70%;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}
@media only screen and (max-width: 320px) {
    .popup__popup-form {
        width: 88%;
    }
}

.popup__form-header {
    font-weight: 900;
    font-size: 150%;
    line-height: 1.2;
    position: relative;
    margin: 8% 0 11% 8%;
}
@media only screen and (max-width: 320px) {
    .popup__form-header {
        margin: 8% 0 23% 8%;
    }
}

.popup__field {
    display: flex;
    margin: 7% 0 0 8%;
    flex-direction: column;
}
@media only screen and (max-width: 320px) {
    .popup__field {
        margin: 13% 0 0 8%
    }
}

.popup__label {

}

.popup__field_name {
    font-weight: 400;
    font-size: 87.5%;
    line-height: 1.2;
    margin: 0;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
    background-color: transparent;
    padding: 2% 0 2% 0.5%;
}

.popup__field_job {
    font-weight: 400;
    font-size: 87.5%;
    line-height: 1.2;
    margin: 5% 0 0 0;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    box-sizing: border-box;
    background-color: transparent;
    padding: 2% 0 2% 0.5%;
}

.popup__submit-btn {
    background-color: #000000;
    color: #fff;
    border-radius: 3%;
    width: 83%;
    height: 15%;
    margin: 10% 0 0 8%;
    font-weight: 400;
    font-size: 112.5%;
    line-height: 1.2;
    padding: 0;
}
.popup__submit-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
@media only screen and (max-width: 320px) {
    .popup__submit-btn {
        margin: 20% 0 0 8%
    }
}

.popup__rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000000;
    opacity: 0.5;
}