.popup__field {
    margin: 5% 0 0 0;
    font-size: 87.5%;
    line-height: 1.2;
    /* width: 90.5%; */
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    padding: 2% 0 1% 0%;
    border-bottom: 1px solid #c6c6c6;
}
@media screen and (max-width: 767px) {
    .popup__field {
        margin: 13% 0 0 0%;
    }
}